@media only screen and (min-width: 320px) {
  .QualificationPage {
    padding: 10rem 5rem;
    color: #212529;
    background-color: #f8f9fa;

    &_One {
      & > p {
        margin: 0;
        font-size: 0.9rem;
      }
    }

    & > h1 {
      font-size: 1.25rem;
    }

    & > div {
      & > img {
        width: 5rem;
        height: auto;
      }
    }
  }
}

@media only screen and (min-width: 763px) {
  .QualificationPage {
    padding: 10rem;
    color: #212529;
    background-color: #f8f9fa;

    &_One {
      & > p {
        margin: 0;
        font-size: 1.25rem;
      }
    }

    & > h1 {
      font-size: 2rem;
    }

    & > div {
      & > img {
        width: 7rem;
        height: auto;
      }
    }
  }
}
