.ContactCard {
  & > h1 {
    padding-left: 2rem;
    margin-bottom: 5rem;
    font-size: 2rem;
  }
  &_Links {
    display: flex;
    flex-direction: column;
    & > a:hover {
      color: darkgray;
    }
    & > a {
      margin: 1rem 0;
      text-decoration: none;
      color: #f8f9fa;

      & > img {
        width: 1.5rem;
        height: auto;
        margin-right: 1rem;
      }
    }
  }
}
