.Header {
  height: 94vh;
  padding: 0 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  & > * {
    color: #212529;
  }

  &_TypeWriter {
    font-size: 1.5rem;
    display: flex;
  }
}
