@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Chivo Mono", monospace;
}

body {
  margin: 0;
}

.NavBar {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  padding: 0 1rem;
  background-color: #212529;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;

  & > * {
    color: #f8f9fa;
    text-decoration: none;
    background-color: none;
  }
}

li {
  list-style: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: black;
  }
}

Link {
  cursor: pointer;
}

ul {
  display: flex;
  gap: 2rem;
}

.ProjectPage {
  background-color: #212529;
}

.QualPage {
  background-color: #f8f9fa;
}
