.ProjectsPage {
  text-align: center;
  margin: auto 10rem;
  height: 100vh;
  color: #f8f9fa;

  &_Grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5rem;
    padding-top: 3rem;
  }

  & > h1 {
    margin: 0;
    padding-top: 3rem;
  }
}
